.card {
  padding: 25px;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: pointer;
  transition: all .3s;
}

.card:hover {
  background: #ff4081;
  border-color: #ff4081;
}

.card__link {
  text-decoration: none;
  color: #000;
}

.card:hover .card__link {
  color: #fff;
}

.card__title {
  margin-bottom: 6px;
}
