<h1 mat-dialog-title>Add a lesson</h1>
<form [formGroup]="form" mat-dialog-content>
  <mat-dialog-content>
    <mat-form-field class="full-width">
      <input matInput formControlName="name" type="text" placeholder="Name">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput formControlName="description" type="text" placeholder="Description">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput formControlName="textContent" type="text" placeholder="Text content">
    </mat-form-field>
  </mat-dialog-content>
</form>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button [mat-dialog-close]="form.value" [disabled]="form.invalid">Create</button>
</div>
