<h1 mat-dialog-title>{{title}}</h1>
<form [formGroup]="form" mat-dialog-content>
  <mat-dialog-content>
    <mat-form-field class="full-width" *ngFor="let field of fields;">
      <input matInput [formControlName]="field.formControlName" type="text" [placeholder]="field.placeholder">
    </mat-form-field>
  </mat-dialog-content>
</form>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button [mat-dialog-close]="form.value" [disabled]="form.invalid">{{}}</button>
</div>
