<h1 mat-dialog-title>Add a courses</h1>
<form [formGroup]="form" mat-dialog-content>
  <mat-dialog-content>
    <mat-form-field class="full-width">
      <input matInput formControlName="fullName" type="text" placeholder="Full name">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput formControlName="course" type="text" placeholder="Course">
    </mat-form-field>
  </mat-dialog-content>
</form>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button [mat-dialog-close]="form.value" [disabled]="form.invalid">Create</button>
</div>
