<div *ngIf="course" class="container">
  <div class="course mb60">
    <div class="mb20">
      <app-tile [text]="course.name" [imgSrc]="course.imgSrc"></app-tile>
    </div>
    <p>{{course.description}}</p>
  </div>
  <div class="lessons">
    <h2 class="mb20">List of lessons</h2>
    <ol>
      <li *ngFor="let lesson of lessons" class="mb10">
        <a class="lesson__link" [routerLink]="['/', 'lessons', lesson.id]">
          <h3>{{lesson.name}}</h3>
          <p>{{lesson.description}}</p>
        </a>
      </li>
    </ol>
  </div>
  <p class="mb20">Course's price: {{course.price}}</p>
  <button mat-button color="accent" mat-raised-button>Add to my courses</button>
</div>
