<div *ngIf="course" class="container">
  <div class="course mb30">
    <div class="mb20">
      <app-tile [text]="course.name" [imgSrc]="course.imgSrc"></app-tile>
      <breadcrumbs [breadcrumbs]="breadcrumbsData" separator=" — "></breadcrumbs>
    </div>
    <app-section title="Review">
      <p class="mb10">{{course.description}}</p>
      <p class="mb10">Course's price: {{course.price}}</p>
      <button mat-button color="accent" mat-raised-button>Add to my courses</button>
    </app-section>
  </div>
  <div class="lessons">
    <app-section title="Lessons">
      <ul class="lessons-holder">
        <li *ngFor="let lesson of lessons, index as index" class="mb10 lessons__item">
          <a class="lesson__link" [routerLink]="['/', 'lessons', lesson.id]">
            <h3>{{index+1}}. {{lesson.name}}</h3>
            <p>{{lesson.description}}</p>
          </a>
        </li>
      </ul>
    </app-section>
  </div>
</div>
