<div *ngIf="course && lesson" class="container">
  <div>
    <div class="mb20">
      <app-tile [text]="course.name" [imgSrc]="course.imgSrc"></app-tile>
      <breadcrumbs [breadcrumbs]="breadcrumbsData" separator=" — "></breadcrumbs>
    </div>
    <app-section [title]="lesson.name">
      <p>
        {{lesson.textContent}}
      </p>
    </app-section>
    <app-section title="Video">
      <iframe
        [src]="lesson.videoUrl | safe"
        width="100%"
        height="600"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
      <button>next lesson</button>
    </app-section>
  </div>
</div>
