/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

html, body {
  height: 100%;
}

body {
  font: 16px/1.5 Roboto, Arial;
}

.container {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
}

.full-width {
  width: 100%;
}

.title1 {
  margin-bottom: 26px;
}

.title2 {
  margin-bottom: 13px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb60 {
  margin-bottom: 60px;
}
