* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

html, body {
  height: 100%;
}

body {
  font: 16px/1.5 Roboto, Arial;
  background: #efefef;
}

.container {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.full-width {
  width: 100%;
}

.title1 {
  margin-bottom: 26px;
}

.title2 {
  margin-bottom: 13px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb60 {
  margin-bottom: 60px;
}
